body {
  background-color: #297fb93a;
}

a {
  text-decoration: none;
  color: #fff;
}

i {
  font-size: 1.1rem;
  margin-left: .5rem;
}

.navbar-brand {
  font-size: .990rem;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-brand > span {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-link {
  font-weight: 500;
}

.title > p {
  font-size: 1.1rem;
  color: grey;
}

.title > p > span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #188f49;
}

span:nth-child(1) {
  text-decoration: underline;
}
span:nth-child(2) {
  text-decoration: underline;
}
span:nth-child(3) {
  text-decoration: underline;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-one {
  border-top: 6px solid #2980b9;
}
.card-two {
  border-top: 6px solid #dc3545;
}
.card-three {
  border-top: 6px solid #ffc107;
}

@media screen and (max-width: 990px) {
  .services {
    display: flex;
    flex-direction: column;
  }
}